.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100vh;
}


.dash
{
  width: 250%;
}
.table-container {
  width: 90%;
  padding-top: 20px;
}

table {
  width: 400%;
  height: 400%;

 
  padding: 20px;
  border-collapse: collapse;
  border: 1px solid #000000;
}

 th {
  background-color: #bed6ea;
  padding: 10px;
  text-align: left;
  border-right: 1px solid #000000;
}

 td {
  padding: 10px;
  text-align: left;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

 tr:nth-child(even) {
  background-color: #ffffff;
}
 tr:hover {
  background-color: #cfe6ed;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  height: 2px;
  width: 100%;
  background-color: #ccc;
  border: none;
  margin-bottom: 5px;
}

#statushr{
  width: 370%;
}
table {
  border-collapse: collapse;
}
th, tr {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}